body
{
	border: 0 0 0 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
header{
	border: 0;
	margin: 0;
	padding: 0;
}
.seccion-container
{	
	padding-left: 0%;
	padding-right: 0%;
	width: 100%;

  	/* Para que el contenedor sea maximo a 1024px y siempre quede centrado */
  	margin: 0 auto;
  	overflow: hidden;
  	background: gray;
}
.seccion-container .contenido-container
{
	width: 100%;
	min-width: 320px;
	max-width: 1024px;
	background: green;
}
.seccion-container .contenido-container .col2-aside /* OJO FALTA checar que se apile abajo en resoluciones menores de 1024px */
{
	width: 100%;
	max-width: 254px; /* OJO CHECAR debe ser de 304px */
	display: none;
	background: yellow;
}
.seccion-container .contenido-container .col1-container
{
	width: 100%;
	max-width: 619.2px;
	background: red;
	overflow: hidden;
	float: left;
}
.seccion-container .contenido-container .col1-container .ren-contenido
{
	width: 100%;
	max-width: 619.2px;
	clear: left;
}
.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-1-small
{
	width: 100%;
	/* Tamaño fijo de 320px resolucion minima de smartphones */
	min-width: 320px;
	max-width: 320px;
	height: 100%;
	background: orange;
	float: left;
}
.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-1
{
	width: 100%;
	/* Tamaño fijo de 320px resolucion minima de smartphones */
	min-width: 320px;
	max-width: 320px;
	height: 100%;
	background: orange;
}
.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-2
{
	width: 100%;
	/* Tamaño fijo de 320px resolucion minima de smartphones */
	min-width: 320px;
	max-width: 320px;
	background: blue;
}
.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-3
{
	width: 100%;
	/* Tamaño fijo de 320px resolucion minima de smartphones */
	min-width: 320px;
	max-width: 320px;
	height: 100%;
	background: purple;
} 

/* Breakpoint inicial, la minima resolucion es 400px, para lo que sigue se empieza a cambiar propiedades */
@media screen and (min-width: 320px){
	.seccion-container .contenido-container
	{
		/* Padding hasta el prox breakpoint de resolucion 480 */
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
	}
}
@media screen and (min-width: 370.4px){
	.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-1-small
	{
		/* Tamaño especifico para mayores resoluciones y se flota a partir de aqui */
		min-width: 122.4px;
		max-width: 122.4px;
		float: left;
	}
	.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-1
	{
		/* Tamaño especifico para mayores resoluciones y se flota a partir de aqui */
		min-width: 248.4px;
		max-width: 248.4px;
		height: 100%;
		float: left;
	}
	.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-2
	{
		min-width: 370.8px;
		max-width: 370.8px;

	}
	.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-3
	{
		min-width: 370.8px;
		max-width: 370.8px;
	} 
}
@media screen and (min-width: 480px){
	.seccion-container
	{
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
	}
	.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-2
	{
		min-width: 496.8px;
		max-width: 496.8px;

	}
	.seccion-container .contenido-container .col1-container .ren-contenido .caja-de-3
	{
		min-width: 370.8px;
		max-width: 370.8px;
	} 
}
@media screen and (min-width: 640px){
	.seccion-container
	{
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
	}

}
@media screen and (min-width: 720px){
	.seccion-container
	{
		padding-left: 7%;
		padding-right: 7%;
		width: 86%;
	}
}
@media screen and (min-width: 800px){
	.seccion-container
	{
		padding-left: 7%;
		padding-right: 7%;
		width: 86%;
	}
}
@media screen and (min-width: 1024px){
	.seccion-container
	{
		padding-left: 7%;
		padding-right: 7%;
		width: 86%;
	}
	.seccion-container .contenido-container .col2-aside
	{
		display: block;
		float: right;
	}	
}