#contenedor
{
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	background: yellow;
}

.caja-div
{
	width: 100%;
	max-width: 500px;
	background: blue;
	text-align: center;
	float: left;
}